{% extends 'base.html.twig' %}

{% block title %}Hilo{% endblock %}

{% block body %}
    <h1>Hilo</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ hilo.id }}</td>
            </tr>
            <tr>
                <th>Titulo</th>
                <td>{{ hilo.titulo }}</td>
            </tr>
            <tr>
                <th>Descripcion</th>
                <td>{{ hilo.descripcion }}</td>
            </tr>
            <tr>
                <th>Fecha</th>
                <td>{{ hilo.fecha ? hilo.fecha|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ hilo.status ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('hilo_index') }}">back to list</a>

    <a href="{{ path('hilo_edit', {'id': hilo.id}) }}">edit</a>

    {{ include('hilo/_delete_form.html.twig') }}
{% endblock %}
