{% extends 'base.html.twig' %}

{% block title %}Evento index{% endblock %}

{% block body %}
    <h1>Evento index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Validado</th>
                <th>Destacado</th>
                <th>Tipo</th>
                <th>Descripcion</th>
                <th>Enlace</th>
                <th>FechaHoraComienzo</th>
                <th>ImagenEvento</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for evento in eventos %}
            <tr>
                <td>{{ evento.id }}</td>
                <td>{{ evento.validado ? 'Yes' : 'No' }}</td>
                <td>{{ evento.destacado ? 'Yes' : 'No' }}</td>
                <td>{{ evento.tipo }}</td>
                <td>{{ evento.descripcion }}</td>
                <td>{{ evento.enlace }}</td>
                <td>{{ evento.fechaHoraComienzo ? evento.fechaHoraComienzo|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ evento.imagenEvento }}</td>
                <td>
                    <a href="{{ path('evento_show', {'id': evento.id}) }}">show</a>
                    <a href="{{ path('evento_edit', {'id': evento.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('evento_new') }}">Create new</a>
{% endblock %}
