{% extends 'base.html.twig' %}

{% block title %}Noticia index{% endblock %}

{% block body %}
    <h1>Noticia index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titulo</th>
                <th>ImagenDestacada</th>
                <th>TextoNoticia</th>
                <th>FechaPublicacion</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for noticium in noticias %}
            <tr>
                <td>{{ noticium.id }}</td>
                <td>{{ noticium.titulo }}</td>
                <td>{{ noticium.imagenDestacada }}</td>
                <td>{{ noticium.textoNoticia }}</td>
                <td>{{ noticium.fechaPublicacion ? noticium.fechaPublicacion|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('noticia_show', {'id': noticium.id}) }}">show</a>
                    <a href="{{ path('noticia_edit', {'id': noticium.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('noticia_new') }}">Create new</a>
{% endblock %}
