{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block body %}

{% for mision in misiones %}
    {% if mision.completada == false %}
        <div>
            Autor: {{mision.autor.nombre}}
            <br>
            Título: {{mision.titulo}}
            <br>
            Descripción: {{mision.descripcion}}
            <br>
            Puntos: {{ mision.puntos }}
            <br>
            <button class="btn btn-primary" id="{{ mision.id }}" onClick="misionCompleta({{ mision.id }});">Completar noticia</button>
            <br>
            <br>
        </div>
    {% endif %}
{% endfor %}

<script>
    function misionCompleta(id) {

        function fail(data) {
            alert("Error de AJAX: " + data + " - Perfil sin verificar por fallo.");
        }

        $.ajax({
            type: "GET",
            url: "/completarMision",
            data: {id_mision: id},
            success: function(data) {
                alert("Mision completada");
                if(data == "completada") {
                    var completada = "#" + id;
                    $(completada).parent().remove();
                }
            },
            error: fail
        });
    }
</script>
{% endblock %}