

<title>Register</title>

{% block body %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}

<style type="text/css">
	.has-val.input100 + .focus-input100::after {
  top: -22px;
  font-size: 18px;
}

.has-val.input100 + .focus-input100::before {
  width: 100%;
}

.has-val.input100 {
  padding-left: 5px;
}
</style>
   {% block javascripts %}
            <script src="vendor/jquery/jquery-3.2.1.min.js"></script>
            <!--===============================================================================================-->
            <script src="vendor/animsition/js/animsition.min.js"></script>
            <!--===============================================================================================-->
            <script src="vendor/bootstrap/js/popper.js"></script>
            <script src="vendor/bootstrap/js/bootstrap.min.js"></script>
            <!--===============================================================================================-->
            <script src="vendor/select2/select2.min.js"></script>
            <!--===============================================================================================-->
            <script src="vendor/daterangepicker/moment.min.js"></script>
            <script src="vendor/daterangepicker/daterangepicker.js"></script>
            <!--===============================================================================================-->
            <script src="vendor/countdowntime/countdowntime.js"></script>
            <!--===============================================================================================-->
            <script src="js/main.js"></script>
 {% endblock %}
         {% block stylesheets %}
        
           <link rel="icon" type="image/png" href="images/icons/favicon.ico"/>
            <!--===============================================================================================-->
            <link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css">
            <!--===============================================================================================-->
            <link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
            <!--===============================================================================================-->
            <link rel="stylesheet" type="text/css" href="fonts/iconic/css/material-design-iconic-font.min.css">
            <!--===============================================================================================-->
            <link rel="stylesheet" type="text/css" href="vendor/animate/animate.css">
            <!--===============================================================================================-->	
            <link rel="stylesheet" type="text/css" href="vendor/css-hamburgers/hamburgers.min.css">
            <!--===============================================================================================-->
            <link rel="stylesheet" type="text/css" href="vendor/animsition/css/animsition.min.css">
            <!--===============================================================================================-->
            <link rel="stylesheet" type="text/css" href="vendor/select2/select2.min.css">
            <!--===============================================================================================-->	
            <link rel="stylesheet" type="text/css" href="vendor/daterangepicker/daterangepicker.css">
            <!--===============================================================================================-->
            <link rel="stylesheet" type="text/css" href="css/util.css">
            <link rel="stylesheet" type="text/css" href="css/main.css">
        {% endblock %}
    


    {# {{ form_start(registrationForm) }}

        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
        {{ form_row(registrationForm.agreeTerms) }}






        <button type="submit" class="btn">Register</button>


    {{ form_end(registrationForm) }} #}

 {{ form_start(registrationForm) }}
<body>
	
	<div class="limiter">
		<div class="container-login100" style="background-image: url('images/bg-01.jpg');">
			<div class="wrap-login100">
           
				<form class="login100-form validate-form">
					<span class="login100-form-logo">
						<img src="images/Símbolo.png" class="imagendefondo">
					</span>

					<span class="login100-form-title p-b-34 p-t-27">
						Register
					</span>

					<div class="wrap-input100 validate-input" data-validate = "Enter and Email">
                       
                        {{ form_row(registrationForm.email, { 'attr': {'class': 'input100','placeholder': 'Email'} }) }}
                        <span class="focus-input100" data-placeholder="✉"></span>
						
					</div>

					<div class="wrap-input100 validate-input" data-validate="Enter password">
                        {{ form_row(registrationForm.plainPassword,{ 'attr': {'class': 'input100'} }) }} 
						{# <input class="input100" type="password" name="pass" placeholder="Password"> #}
						<span id="passw" class="focus-input100" data-placeholder="&#xf191;"></span>
					</div>
					<div class="wrap-input100 validate-input" data-validate="Enter password">
						<input id="passwor" class="input100" type="password" name="pass" placeholder="Comfirm Password" required>
						<span class="focus-input100" data-placeholder="&#xf191;" ></span>
					</div>
					
					
						{{ form_row(registrationForm.agreeTerms,{ 'attr': {'class': 'input-checkbox100'} } ) }}		
								<label class="label-checkbox100" for="registration_form_agreeTerms">		
							<li class="terminos">Acepto Los terminos y condiciones</li>
							</label><br>

						
						
					<br>
						
						

							<input class="input-checkbox100" id="ckb2" type="checkbox" name="notificaciones">
						<label class="label-checkbox100" for="ckb2">
							Acepto Recibir notificaciones
						</label><br>
						
						
						
					
				

					<div class="container-login100-form-btn">
						<button class="login100-form-btn" type="submit">
							Register
						</button>
					</div>

					<div class="text-center p-t-90">

					</div>
				 </form>
                {{ form_end(registrationForm) }}
			</div>
		</div>
	</div>
	

	<div id="dropDownSelect1"></div>
</body>
<script type="text/javascript">


	//Esta linea se dedica a quitar todos los labels molestos creados por symfony --jose luis 
$(".required").hide();

	//Estas dos lineas se dedican a colocar dos lineas de forma adecuada para que funcionen las animaciones de los emoticonos subiendo y bajanado --jose luis
    $(".focus-input100:first").insertAfter("#registration_form_email");
     $(".label-checkbox100:first").insertAfter("#registration_form_agreeTerms");
   	 
   	 $("#passw").insertAfter("#registration_form_plainPassword");


   	 

	$("button").click(function(e){
			if ($("#passwor").val() == $("#registration_form_plainPassword").val()) {

   	 	
    }else{
    	
    	alert("Las contraseñas no coinciden, vuelve a intentarlo");
    	e.preventDefault();
    }

    	    if ($("#registration_form_agreeTerms").is(':checked')) {
     $(".terminos").css("color","white");
    }else{
    	$(".terminos").css("color","red");
    }
   


		});
   	 
  
   	
    

</script>
{% endblock %}
